<?xml version="1.0"?>
<!DOCTYPE refentry PUBLIC "-//OASIS//DTD DocBook XML V4.3//EN"
               "http://www.oasis-open.org/docbook/xml/4.3/docbookx.dtd"
[
  <!ENTITY % local.common.attrib "xmlns:xi  CDATA  #FIXED 'http://www.w3.org/2003/XInclude'">
  <!ENTITY % gtkdocentities SYSTEM "../xml/gtkdocentities.ent">
  %gtkdocentities;
]>
<refentry id="plank-reloaded-PlankSettings">
<refmeta>
<refentrytitle role="top_of_page" id="plank-reloaded-PlankSettings.top_of_page">PlankSettings</refentrytitle>
<manvolnum>3</manvolnum>
<refmiscinfo>PLANK-RELOADED Library</refmiscinfo>
</refmeta>
<refnamediv>
<refname>PlankSettings</refname>
<refpurpose>The base class for gsettings-based configuration classes. Defined properties will be bound to the corresponing schema-key of the given schema-path. The property&apos;s nick-name must match the schema-key.</refpurpose>
</refnamediv>

<refsect1 id="plank-reloaded-PlankSettings.other" role="other_proto">
<title role="other_proto.title">Types and Values</title>
<informaltable pgwide="1" frame="none">
<tgroup cols="2">
<colspec colname="other_proto_type" colwidth="150px"/>
<colspec colname="other_proto_name"/>
<tbody>
<row><entry role="define_keyword">#define</entry><entry role="function_name"><link linkend="PLANK-TYPE-SETTINGS:CAPS">PLANK_TYPE_SETTINGS</link></entry></row>
<row><entry role="datatype_keyword">struct</entry><entry role="function_name"><link linkend="PlankSettings">PlankSettings</link></entry></row>
<row><entry role="datatype_keyword">struct</entry><entry role="function_name"><link linkend="PlankSettingsClass">PlankSettingsClass</link></entry></row>

</tbody>
</tgroup>
</informaltable>
</refsect1>


<refsect1 id="plank-reloaded-PlankSettings.description" role="desc">
<title role="desc.title">Description</title>

</refsect1>
<refsect1 id="plank-reloaded-PlankSettings.functions_details" role="details">
<title role="details.title">Functions</title>
<para />
</refsect1>
<refsect1 id="plank-reloaded-PlankSettings.other_details" role="details">
<title role="details.title">Types and Values</title>
<refsect2 id="PLANK-TYPE-SETTINGS:CAPS" role="macro">
<title>PLANK_TYPE_SETTINGS</title>
<indexterm zone="PLANK-TYPE-SETTINGS:CAPS"><primary>PLANK_TYPE_SETTINGS</primary></indexterm>
<programlisting language="C">#define PLANK_TYPE_SETTINGS (plank_settings_get_type ())
</programlisting>
<para>The type for <link linkend="PlankSettings"><type>PlankSettings</type></link>.</para>
</refsect2>
<refsect2 id="PlankSettings" role="struct">
<title>struct PlankSettings</title>
<indexterm zone="PlankSettings"><primary>PlankSettings</primary></indexterm>
<programlisting language="C">struct PlankSettings {
	GObject parent_instance;
	PlankSettingsPrivate * priv;
};
</programlisting>
<para>The base class for gsettings-based configuration classes. Defined properties will be bound to the corresponing schema-key of the given schema-path. The property&apos;s nick-name must match the schema-key.</para>
</refsect2>
<refsect2 id="PlankSettingsClass" role="struct">
<title>struct PlankSettingsClass</title>
<indexterm zone="PlankSettingsClass"><primary>PlankSettingsClass</primary></indexterm>
<programlisting language="C">struct PlankSettingsClass {
	GObjectClass parent_class;
	void (*verify) (PlankSettings* self, const gchar* name);
};
</programlisting>
<para>The class structure for <link linkend="PLANK-TYPE-SETTINGS:CAPS"><literal>PLANK_TYPE_SETTINGS</literal></link>. All the fields in this structure are private and should never be accessed directly.</para>
<refsect3 id="PlankSettingsClass.members" role="struct_members">
<title>Members</title>
<informaltable role="struct_members_table" pgwide="1" frame="none">
<tgroup cols="3">
<colspec colname="struct_members_name" colwidth="300px"/>
<colspec colname="struct_members_description"/>
<colspec colname="struct_members_annotations" colwidth="200px"/>
<tbody>
<row role="member"><entry role="struct_member_name"><para><structfield id="PlankSettingsClass.verify">verify</structfield>&#160;()</para></entry>
<entry role="struct_member_description"><para>virtual method used internally</para></entry>
<entry role="struct_member_annotations"></entry>
</row>
</tbody></tgroup></informaltable>
</refsect3>
</refsect2>

</refsect1>

</refentry>
