[Unit]
Description=Plank Reloaded
After=graphical-session.target
Wants=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=plank
Restart=on-failure
KillMode=process
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
