[Unit]
Description=Plank Reloaded Startup Timer
After=graphical-session.target

[Timer]
OnStartupSec=5sec
Unit=plank-reloaded.service

[Install]
WantedBy=default.target
